 /* Navbar */
#navbar .logo,
#navbar ul,
#navbar ul li{
  float: none;
  text-align: center;
}
#navbar ul li a{
  padding: 5px;
  border-bottom: #444 dotted 1px;
}
/* Showcase */
#showcase{
  height: 100%;
}
#showcase .showcase-content{
  padding-top: 50px;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;}
/* Home-info */

#home-info .info-img{
  display: none;
}
#home-info .info-content{
  width: 100%;
  float: none ;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
/* Boxes */
.box{
  float: none;
  width: 100%;
}
/* About */
#about-info .info-right,
#about-info .info-left{
  float: none;
  width: 100%;
}
.l-heading{
  text-align: center;
  
}
#about-info .info-right{
  margin-top: 30px;
}

/* Testimonials */
#testimonials{
  padding-top: 50px;
}
/* Contact */

#contact-info .box{
  border-bottom: #444 dotted 1px;
}